# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.*
!.env.example

firebase_key.json

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Firebase
.firebase/

# Google ADK
.adk/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/

# Build Outputs
.next/
out/
build
dist

# Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Misc
.DS_Store
*.pem
